#*/**/.gitignore
target
classes
database
*.log
*.log*
*.tlog
.classpath
.project
.settings
.idea
.mymetadata
.metadata
*.class
*.jar
*.war
*.ear
*.esb
*.rar
*.zip
etc
lib
libs
build
*RemoteSystemsTempFiles
*.metadata


